<ul class="nav nav-list">
    <li class="nav-header h4"><span class=" icon-user">&nbsp;系统管理</span></li>
    <li class="active"><a href="#">系统管理</a></li>
</ul>
<ul class="nav nav-list">
    <li class="nav-header h4"><span class="icon-adjust">&nbsp;用户管理</span> </li>
    <li><a href="#" >用户列表</a></li>

</ul>

<ul class="nav nav-list">
    <li class="nav-header h4"><span class=" icon-user">&nbsp;文章管理</span></li>
    <li class="active"><a href="#">分类管理</a></li>
    <li class="active"><a href="#">文章管理</a></li>
</ul>