{eq name="$Think.session.admin_level" value="1"} <!-- 权限管理-->
<ul class="nav nav-list">
    <li class="nav-header h4"><span class=" icon-user">&nbsp;系统管理</span></li>
    <li class="active"><a href="{:url('site/index')}">系统管理</a></li>
</ul>
{/eq}
<ul class="nav nav-list">
    <li class="nav-header h4"><span class="icon-adjust">&nbsp;用户管理</span> </li>
    <li><a href="{:url('user/userlist')}" >用户列表</a></li>

</ul>

<ul class="nav nav-list">
    <li class="nav-header h4"><span class=" icon-user">&nbsp;文章管理</span></li>
    {eq name="$Think.session.admin_level" value="1"} <!-- 权限管理-->
    <li class="active"><a href="{:url('cate/catelist')}">分类管理</a></li>
    <li ><a href="{:url('cate/cateAdd')}">添加分类</a></li>
    {/eq}
    <li class="active"><a href="{:url('article/artlist')}">文章管理</a></li>
</ul>