<div class ='col-md-4'>
    <form class="form-search" action="" method="get">
        <input type="text" class="input-medium search-query" name="keyword">
        <button type="submit" class="Search">Search</button>
    </form>
    <div class="page-header"><h2>热门内容</h2></div>
    <div class="list-group">
        <a href="#" class="list-group-item active">
            最新最热内容
        </a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
</div>
</div>

