<div class ='col-md-4'>
    <form class="form-search" action="" method="get">
        <input type="text" class="input-medium search-query" name="keyword">
        <button type="submit" class="Search">Search</button>
    </form>
    <div class="page-header"><h2>热门内容</h2></div>
    <div class="list-group">

        {volist name="hotartlist" id='art'}
        <a href="#" class="list-group-item
         {eq name="$i" value="1"}active{/eq}
        " >{$art.title}<span class="badge">{$art.pv}</span></a>
        {/volist}
    </div>
</div>
</div>

